<table>
<tr id='rcpt-tr'>
	<td></td>
	<td>

        {assign var=n value=rcpt_num}
                          <div id ='rcpt_num' class="crm-section {$form.$n.name}-section">
                            <label>{$form.$n.label} </label>
                            <br>
                            {$form.$n.html}
                          </div>
    </td>
	
</table>
{literal}
<script type="text/javascript">
	cj(function(){
		
  el = cj('#s2id_contribution_batch_id').parent().parent();
  cj('#rcpt-tr').insertAfter( cj(el));
	});
</script>
{/literal}