
 {* reposition the above block after #someOtherBlock *}
<table>
<tr class='receipt-number'>
      <td class="label">Tax Receipt</td>
      <td> {$receiptnum.number}&nbsp;</td>
</tr>
</table>

 <script type="text/javascript">
   cj('.receipt-number').insertBefore('.crm-info-panel tr:first');
 </script> 