
{if empty($data)}
	Items has been already processed or no tax-deductible items.
{else}
<table>
<tr>
<th> Receipt number
<th> Date
<th> Name
<th> Amount 

{foreach from=$data item=item }
	<tr>
	<td> {$item.num}
	<td> {$item.date}
	<td> {$item.name}
	<td> {$item.amount}
{/foreach}
</table>
{/if}